@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: "Outfit", sans-serif;
  background-color: var(--main-bg-dark-blue);
}

:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --main-bg-dark-blue: hsl(217, 54%, 11%);
  --card-bg-dark-blue: hsl(216, 50%, 16%);
  --line-dark-blue: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

.nft-card-component {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  width: 87%;
  max-width: 326px;
  height: 81.5%;
  max-width: 544px;
  background-color: var(--card-bg-dark-blue);
  border-radius: 1rem;
}

.nft-card-component > img {
  width: 85.2%;
  margin: 1.5rem;
  border-radius: 0.5rem;
}

.nft-card-component > h1 {
  width: 85.2%;
  color: var(--white);
  font-size: 1.37rem;
}

.nft-card-component > p {
  width: 85.2%;
  color: var(--soft-blue);
  margin-top: 0.9rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 155%;
}

.nft-card-component-numbers {
  width: 85.2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.9rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--line-dark-blue);
  font-size: 1rem;
}

.nft-card-component-numbers-eth {
  color: var(--cyan);
}

.nft-card-component-numbers-eth::before {
  position: relative;
  top: 0.2rem;
  content: url("/images/icon-ethereum.svg");
  padding-right: 0.35rem;
}

.nft-card-component-numbers-days {
  color: var(--soft-blue);
  font-weight: 300;
}

.nft-card-component-numbers-days::before {
  position: relative;
  top: 0.2rem;
  content: url("/images/icon-clock.svg");
  padding-right: 0.35rem;
}

.nft-card-component-creator {
  width: 85.2%;
  display: flex;
  align-items: center;
  margin-top: 0.9rem;
}
.nft-card-component-creator > img {
  width: 34px;
  border: 1px solid var(--white);
  border-radius: 50%;
}

.nft-card-component-creator > p {
  padding-left: 1rem;
  color: var(--soft-blue);
  font-size: 1rem;
  font-weight: 300;
}

.nft-card-component-creator > p > span {
  color: var(--white);
}
